<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find pairs of numbers that sum up to 12</title>
</head>
<body>
    <h1>File Upload</h1>
    <p>Below you can upload text file containing list of numbers</p>
    <p><small>For now, application only accepts .txt files</small></p>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" accept=".txt"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>