body {
  background-color: #8ee4af;
  font-family: "Abel";
}

h1 {
    font-family: "Krona One";
    font-size: 50px;
    color: #203d23;
}

p {
    font-size: 25px;
}

p#mini {
    font-size: 12px;
    color: #501b1d;
}
